html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
div.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
table, tr, td{
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-collapse: collapse;
}
